<a href="https://colab.research.google.com/github/Nekit134/IB2-2b-Kanishev-1/blob/main/%D0%98%D0%912_2%D0%B1_%D0%9A%D0%B0%D0%BD%D0%B8%D1%89%D0%B5%D0%B2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""1) Вывести размер таблицы"""

import pandas as pd

df= pd.read_csv('train.csv')

print('rows*columns:', df.shape)
print('rows:', df.shape[0])
print('columns:', df.shape[1])

In [ ]:
"""2) Вывести первые пять строк"""

print(df.head())

In [ ]:
"""3) Вывести последние пять строк"""

print(df.tail())

In [ ]:
"""4) Вывести случайные пять строк"""

print(df.sample(n=5))

In [ ]:
"""5) Создать две копии таблицы"""

df1=df.copy(deep=True)
df2=df.copy(deep=True)

In [ ]:
"""6) Удалить пустые значения в колонке"""

df1['Cabin'] = df2['Cabin'].fillna('')

print(df1.head())

In [ ]:
"""7) Заменить пустые ячейки в колонке"""

df2['Cabin'] = df2['Cabin'].fillna('None')

print(df2.tail())

In [ ]:
"""8) Найти среднее значение столбца"""

print('mean of Age:',df['Age'].mean())

In [ ]:
"""9) Уникальные варианты (категориальные)"""

print('number of unique in Embarked:',df['Embarked'].nunique())

print('unique of Embarked:',df['Embarked'].unique())

In [ ]:
"""10) Заменить второй и третий объект в любой столбце"""

df.loc[2,'PassengerId'] = 15

df.loc[3,'PassengerId'] = 19

print(df.head())

In [ ]:
"""11) Создать две таблицы 3х3 и объединить их"""

sm1= pd.DataFrame({
    'food':['yes','no',np.nan],
    'drink':['no','no','yes'],
    'sofa':['yes','yes','yes']
    })

sm2= pd.DataFrame({
    'cinema':['no','yes','no'],
    'theatre':['yes','no',np.nan],
    'shop':['no','no','no']
    })

smf=sm1.join(sm2)
print(smf)

In [ ]:
"""12) Сохранить таблицу в формате csv"""

smf.to_csv('gotovo.csv')